section{
    height: 100vh;
    width: 100vw;
    display: flex;
    color: #fff;
}

.container {
    height: 30vh;
    width: 50vw;
    background: linear-gradient(135deg, #153677, #4e085f);
    margin: auto;
    margin-top: 100px;
    padding: 28px;
    border-radius: 10px;
}

.container h1 {
    text-align: center;
    font-size: 25px;
    font-weight: 500;
}

.container input {
    width: 80%;
    border-radius: 5px;
    display: inline;
    border: none;
    color: rgb(6, 33, 187);
    font-weight: 500;
}

.cont1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 10vh;
    padding: 0 70px;
}

.cursor {
    display: flex;
    gap: 10px;
}

.cursor input {
    width: 50%;
}

.input {
    background-color: white;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 2px;
    display: flex;
}

button {
    background-color: rgb(30, 0, 224);
    padding: 11px 30px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.user {
    display: flex;
    justify-content: space-around;
}